{% extends 'components/layout.html' %}

{% block content %}
<img src="/../static/images/kobe.jpg"  style =" width:30%; padding-left: 20px; margin-left: 20px;" alt="...">
<img src="/../static/images/creative.jpeg"  style =" width:30%; margin-left: 20px;" alt="...">
<img src="/../static/images/nipsey.jpeg" style ="width:30%; padding-left: 20px; margin-left: 20px;" alt="...">
<br>
<h1 style="text-align:center;">LIVE | LEARN | ENJOY.</h1>
<p style="text-align:center;"><em>Work with a team to become a content creator TODAY!</em></p>
<br>
{% endblock content %}